<h1>Editing User</h1>

<%= render 'form', user: @user %>

<div>
  <%= link_to 'ユーザー削除', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<%= link_to 'Show', @user %> |
<%= link_to 'Home', root_path %>
